<script src="jwplayer/jwplayer.js"></script>
<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic MP4 DASH test
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <video id="player" class="centerme" controls="true">	
  </video>
  <div id="subtitles"></div>
</ion-content>
